.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 5rem);
  overflow-y: hidden;
}

.container {
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
  width: 1000px;
  background-color: rgb(63, 3, 3);
  border-radius: 50px;
}

.container img {
  width: 50%;
  height: auto;
  border-radius: 50px 0 0 50px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  color: white;
  margin-top: 20px;
}

.details h1 {
  font-size: 1.8rem;
}

.model {
  padding-bottom: 20px;
}

.details p {
  font-size: 1.6rem;
  margin-bottom: 5px;
}
